* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
}